html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.contact .middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 400px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}
.contact .middle ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.down {
  height: 100px;
  margin-top: -100px;
  text-align: center;
}
.down a {
  color: #fff;
  font-size: 2em;
  text-decoration: none;
  animation-name: jump;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  display: block;
  position: relative;
}
@keyframes jump {
  0% {
    padding-top: 0px;
  }
  10% {
    padding-top: 30px;
  }
  100% {
    padding-top: 0px;
  }
}
.cv {
  min-height: 100vh;
  max-width: 900px;
  padding: 10vh 10vw;
  margin: 10vh auto;
  background: #fff;
  color: #000;
  z-index: 150;
  position: relative;
}
.cv h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 300;
  margin: 10px 0 0;
  padding: 0;
}
.cv .sub-cv {
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin: -5px 0 10px;
}
.cv ul.info {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.cv ul.info li {
  margin: 0;
  padding: 0;
}
.cv h2 {
  text-align: left;
  font-size: 1.6em;
  font-weight: bold;
  margin: 40px 0 5px 0;
  padding: 0;
}
.cv ul {
  list-style-type: none;
  margin: 10px 0 20px 0;
  padding: 0;
}
.cv ul li {
  margin: 10px 0 25px 0;
  padding: 0;
}
.cv ul li h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.cv ul li span.location {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: block;
}
.cv ul li span.time {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.8;
  margin: 0;
  padding: 0;
  display: block;
  float: right;
}
.cv p.info {
  margin-top: 50px;
  text-align: center;
}
.cv span.description {
  margin-top: 0;
}
@media screen and (max-width: 800px) {
  .cv {
    width: 100vw;
    margin: 0;
  }
}
